* {
  font-size: 16;
  color: #4E4E4E;
  /* color: red; */
}

.header {
  max-width: 800px;
  /* border: 1px solid #000000; */
}

p > strong em {
  color: #003087;
}

.title > em {
  font-size: 50px;
}

.variant > em {
  font-size: 40px;
}

.cardWrap {
  display: flex;
  flex: 1;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 10px; */
  /* border: 1px solid #000000; */
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  /* justify-content: center; */
  border-radius: 10px;
  box-shadow: 10px 8px 8px #4E4E4E;
  padding: 20px 10px 20px 10px;
  width: 270px;
  max-width: 270px;
  height: 340px;
  overflow-y: scroll;
  border: 1px solid #4E4E4E;
}

.cardTitle {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

.cardImage {
  /* border: 1px solid #000000; */
  border-radius: 10px;
  width: fit-content;
  height: 150px;
}