* {
  font-size: 16px;
  color: #112A46;
}

html {
  background-color: #D5DADF;
}

body {
  margin: 0;
  padding: 0;
  /* border: 1px solid #000000; */
}

.navbar {
  padding: 20px 0px;
  background-color: #AACCCC;
  /* position: fixed; */
  width: 100%;
  /* border: 1px solid #000000; */
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  list-style: none;
  /* border: 1px solid #000000; */
  padding: 0px 20px;
  margin: 0px;
  align-items: center;
}

.navbar > ul > li > article {
  /* border: 1px solid #000000; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.navbar > ul > li > a , article > a {
  text-decoration: none;
}

.title {
  font-size: xx-large;
}

.content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  padding: 0px 0px;
  height: 100vh;
  margin: 0px;
  /* border: 1px solid #000000; */
}

.mediaWrapper {
  position: relative;
  /* border: 1px solid #000000; */
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}

#headerVideo {
  width: 100%;
}

.text-white {
  color: #DDDDDD;
}

.descriptionWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* border: 1px solid red; */
}

.descriptionTitle {
  font-size: 150px;
  font-weight: bolder;
}

.descriptionSub {
  font-size: 20px;
  font-weight: 600px;
}

.descriptionButton {
  margin: 10px 0px 0px 0px;
  padding: 10px 20px;
  max-width: 200px;
  font-size: 20px;
  font-weight: 600;
  background-color: #375368;
  border-radius: 5px;
  border-style: none;
  font-style: italic;
  cursor: pointer;
}

.descriptionButton:hover {
  background-color: #112A46;
}

@media screen and (max-width: 815px) {
  .descriptionTitle {
    font-size: 100px;
  }

  .descriptionSub {
    font-size: 16px;
  }

  .descriptionButton {
    max-width: 200px;
  }
}

@media screen and (max-width: 639px) {
  #headerVideo {
    width: auto;
    height: 100%;
  }

  .descriptionTitle {
    font-size: 150px;
  }

  .descriptionSub {
    font-size: 16px;
  }

  .descriptionButton {
    max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  #headerVideo {
    height: 100%;
    width: auto;
  }

  .descriptionTitle {
    font-size: 100px;
  }

  .descriptionSub {
    font-size: 14px;
  }

  .descriptionButton {
    max-width: 200px;
  }
}

footer {
  bottom: 0;
  background-color: #AACCCC;
  margin: 30px 0px 0px 0px;
  padding: 20px 20px;
  text-align: center;
}

