* {
  font-size: 16px;
  color: #4E4E4E;
  margin: 0px;
}

.position-fixed {
  position: fixed;
}

.t-0 {
  top: 0;
}

.w-full {
  width: 100%;
}

.z-index-1 {
  z-index: 1;
}

header span {
  background-color: black;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
}

.content {
  margin-top: 0px;
  /* position: relative; */
  top: 150px;
  display: flex;
  flex-direction: column;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

section {
  /* overflow-y: scroll; */
  display: flex;
  position: relative;
  margin-bottom: 150px;
  /* flex: 1; */
  /* border: 1px solid #000000; */
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px 5px 10px 5px;
  align-items: center;
  justify-content: center;
  margin: 10px 20%;
}

.card1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
  max-width: 200px;
  height: 287px;
  padding: 30px 10px;
  align-items: center;
  box-shadow: 10px 10px 10px #000000;
  row-gap: 10px;
}

.card1:nth-child(n+1):nth-child(-n+3) {
  /* border: 1px solid blue; */
  margin-top: 0px;
}

.card1:nth-child(n+4):nth-child(-n+6) {
  margin: 1rem 0rem;
  /* border: 1px solid red; */
}

.card1:nth-child(n+7):nth-child(-n+9) {
  /* border: 1px solid yellow; */
  margin-bottom: 0px;
}

.card2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
  max-width: 200px;
  height: 287px;
  padding: 30px 10px;
  align-items: center;
  box-shadow: 10px 10px 10px #000000;
  row-gap: 10px;
}

.card2:nth-child(n+1):nth-child(-n+3) {
  /* border: 1px solid blue; */
  margin-top: 0px;
}

.card2:nth-child(n+4):nth-child(-n+6) {
  margin: 1rem 0rem;
  /* border: 1px solid red; */
}

.card2:nth-child(n+7):nth-child(-n+9) {
  /* border: 1px solid yellow; */
  margin-bottom: 0px;
}

.cardImage {
  width: 170px;
  height: 150px;
}

.cardTitle > p {
  font-weight: 700;
  font-size: large;
  text-align: center;
  /* border: 1px solid #000000; */
  height: 50px;
  width: 200px;
  margin: 0px 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  text-align: left;
  text-overflow: ellipsis;
}

footer {
  /* position: absolute;
  bottom: 0px; */
  background-color: black;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 1;
  margin: 0px;
}

footer>span {
  color: white;
}